{% extends "ayurvedasite/base.html" %}

{% load static %}

{% block content %}

<h3 class="text-center text-danger mt-5" id="thought">
Rather than treating symptoms with drugs and ignoring the underlying problems, Ayurvedic medicine aims to look at the root of disease and how it’s related to a person’s thoughts, beliefs and lifestyle — in other words, a person’s “vital energy.</h3>
<div class="container">
	<h2 class="text-center m-5 text-secondary">HISTORY AND INTRODUCTION</h2>
	<p class="m-4 h5">
History of medicine is a fascinating subject as it is a saga of man’s struggle against
disease. As the civilization advances and as the disease pattern changes, the medical science
also changes. Ayurveda is the system of medicine that evolved in India with a rationale logical
foundation and it has survived as a distinct entity from remote antiquity to the present day. The
fundamentals on which the Ayurvedic system is based are essentially true for all times and do not
change from are to age. These are based on human actors, on intrinsic causes. The origin of
Ayurveda is attributed to Atharva Veda where mention is made several diseases with their
treatments. Later, from the 6th Century BC to 7th Century AD there was systematic development
of the science and it is called Samhita period, when a number of classical works were produced
by several authors and during this period there is evidence of organized medical care.
<br>
 Ayurvedic medicine concentrates on health and wellness by harmonizing the mind, body, and spirit. You can achieve total wellness from a trained Ayurvedic practitioner through methods such as guided meditation, yoga, massage, herbal medicine, and body-specific changes in diet.
 This form of medicine categorizes three types of life forces or doshas: Vata dosha, Pitta dosha, and Kapha dosha. Each person has a combination of each life energy, but one is believed to be dominant. Identifying which life force needs to be balanced can alleviate health issues, as each dosha controls a different function in the body.</p>
 <h2 class="text-center m-5 text-secondary">BENEFITS</h2>
<h3 class="text-danger m-3">
 Reduces stress:</h3>
 <img src="{% static 'ayurvedasite/images/img1.jpeg' %}">
<br>
<p class="m-4 h5">
	
Meditation, yoga, herbal treatments, and breathing exercises are some of the many techniques that can help reduce stress and anxiety. A medical research review conducted by St. Elizabeth’s Medical Center in Massachusetts found that over the corse of 35 trials, investigating the effects of yoga, 25 trials showed significant reduction in signs of stress and anxiety. Other research says that regular yoga practice can improve autonomic nervous functions by reducing sympathetic activity, which is our fight or flight response.</p>
<h3 class="text-danger m-3">
Weight Loss Or Maintenance:</h3>
<img src="{% static 'ayurvedasite/images/img2.jpeg' %}">
<br>
<p class="m-4 h5">
While weight loss isn’t a main concern, Ayurvedic medicine promotes shedding excess weight by consuming a natural and healthy diet. A study conducted by NutriHealth System in New Delhi found that changing someone’s health diet helped clients lose weight effectively. 
</p>
<img src="{% static 'ayurvedasite/images/img3.jpeg' %}">
<h3 class="text-danger m-3">
Minimizes Inflammation:</h3>
<br>
<p class="m-4 h5">
Inflammation can be caused by inadequate sleep, poor diet, and deficient digestion. The Ayurvedic method of healing reduces inflammation to regulate the heart system and digestive tract by eliminating waste. Consuming a combination of herbal treatments, exercise that gently boosts metabolism, and antioxidants can help lower inflammation and increase energy.
</p>
<h3 class="text-danger m-3">
Reduce Symptoms of Illness and Disease:</h3>
<img src="{% static 'ayurvedasite/images/img9.jpeg' %}">
<br>
<p class="m-4 h5">
Eating an illness-specific diet, getting sun exposure, and breathing in and out can help the person eat better and treat symptoms of illness. Metals like iron are thought to have healing properties to keep diseases away and reduce the chances of getting sick. Some supplements claiming to be approved by Ayurveda may contain toxic metals, so proceed with caution before purchasing them, especially online!</p>
<h3 class="text-danger m-3">
Cleanses The Body:</h3>
<img src="{% static 'ayurvedasite/images/img4.jpeg' %}">
<br>
<p class="m-4 h5">
Ayurvedic medicine promotes internal cleansing for improved health. “Panchakama” is the process of getting rid of food and toxins that interfere with efficient body function. Enemas, oils, and massage therapy help get the body working properly by moving toxins from the tissues to the intestines to remove them from the body.</p>
<h3 class="text-danger m-3">
Overall Balance:</h3>
<img src="{% static 'ayurvedasite/images/img8.jpeg' %}">
<br>
<p class="m-4 h5">
The benefit of Ayurveda is that it focuses on individualized treatment and improve the entire body, internally and externally. When someone has emotional stress or health issues, physical activity, nutrition, and spiritual connection can recalibrate your body and promote balance.</p>
<h3 class="text-danger m-3">
Help Cure Insomnia:</h3>
<img src="{% static 'ayurvedasite/images/img5.jpeg' %}">
<br>
<p class="m-4 h5">
Having a late dinner, drinking caffeine before bedtime, watching tv, staring at the phone, or eating a spicy or heavy meal for dinner can disrupt your sleep and aggravate your nervous system. Ayurveda can help induce a restful sleep with simple tips like rubbing jasmine or coconut oil on the scalp or soles of feet, drinking a cup of warm almond milk or chamomile tea, or stating a positive affirmation can effectively help cure insomnia and inspire peaceful sleep.</p>
<h3 class="text-danger m-3">
Regulate Bloating:</h3>
<img src="{% static 'ayurvedasite/images/img7.jpeg' %}">
<br><p class="m-4 h5">
Practicing Ayurveda can help manage bloating and poor digestion by expelling the buildup of waste. Spices, herbs, and roots like cumin, cardamom, fennel, and ginger can cure indigestion in the body. Chewing cumin and ginger before eating can promote digestion, and drinking cardamom and fennel in boiled water can calm the digestive system as well as relieve cramps.</p>
<h3 class="text-danger m-3">
Healthy and Glowing Skin:</h3>
<img src="{% static 'ayurvedasite/images/img6.jpeg' %}">
<br><p class="m-4 h5">
Ayurveda has a ton of proven tricks to help keep your skin soft and radiant without spending money. Consuming veggies like cucumber, lettuce, and daikon radish are easier to digest because of their purifying properties and high-water content. Exercising keeps your joints and muscles toned and helps your body expel toxins through sweat. Nuts and seeds contain healthy fats and Omega-3’s, which have active components responsible for maintaining healthy skin and lowering inflammation in certain skin conditions.
{% endblock content %}