
#top{
	font-family: "fantasy";

  background: rgba(76, 175, 80, 0.3);
}
body {
 background: white url("ayurvedasite/images/img1.jpeg") repeat;  
}

.container{
	float: left;

}
 h1,h2,h3,h4,h5,h6{
    	font-family: Rubik, sans-serif;
    }

.content{
	width:700 px;
}
#cards{
box-shadow:4px 4px 4px 4px rgba(0,0,0,0.4);
}
#health{
	box-shadow:4px 4px 4px 4px rgba(0,0,0,0.4);
}
#aa{
	text-shadow: 4px 4px 4px 4px rgba(0,0,0,0.4);
}